// Global styles layouts
@use '../core/variables' as *;

.container {
	margin: 0 auto;
	padding: 0 2em;
	width: 100%;
	max-width: 1200px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
